body  {
    font-family: Century Gothic;
    color: #191919;
    background-color: #f1f1f1;
    background-image: url(./Banco-de-imagens/terra1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
      }


/* styles.css */
.dark-mode {
    background-image: url(./Banco-de-imagens/terra.png);
    background-color: #191919;
    color: white;
}

/* Estilo do botão */
#toggleMode {
    background-color: #FFC107;
    background-image: url(./Banco-de-imagens/button/Modo.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    border: solid;
    border-color: #FFC107;
    width: 50px; height: 100%;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.3s;
    
}

button:hover {
    background-color: #555;
}





#pai{
    margin-left: auto; margin-right: auto;
    width: 60%; height: 350px;
    position: relative; top: 10px;
}
@media (max-width: 920px){
    #pai {
        width: 70%;
    }}
@media (max-width: 660px){
    #pai {
            width: 80%;
    }}
@media (max-width: 660px){
    #pai {
            width: 95%;
    }}
@media (max-width: 380px){
    #pai {
            width: 95%; height: 400px;
    }}
#header {
    text-align: center;
    background-color: #FFC107;
    width: 100%; height: 50px;
    margin-left: auto; margin-right: auto;
    display: flex;
    justify-content: center; justify-content: space-around;
    border-radius: 30px;
    position: sticky; top: 5px;
    font-size: 100%;
}
@media (max-width: 920px){
    #header {
        font-size: 12px;
        height: 45px;
    }
}
@media (max-width: 380px){
    #header{
            flex-direction: flex;
            width: 100%; height: 45px;
            text-align: center;
            margin-right: 100%;
    }}
.logo{
    background-image: url(./Banco-de-imagens/button/logo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px; height: 20px;
    border: none;
    padding: 10px;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
    text-align: center;
}
@media (max-width: 920px){
    .logo {
        padding: 8px;
    }
}
@media (max-width: 330px){
    .logo {
        width: 0px; height: 0px;
        padding: 0px;
    }
}
.nav {
    color: #ffffff;
    text-decoration-line: none;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px;
    transition: 0.3s ease-in-out;
}
@media (max-width: 660px){
    .nav {
        padding-left: 10px; padding-right: 10px;
    }}
@media (max-width: 430px){
    .nav {
        padding-left: 5px; padding-right: 5px;
    }}
@media (max-width: 380px){
    .nav{
            font-size: 10px;
    }}



#titulo {
    position: relative;
    top: 200px;
    display: flex;
    justify-self: center;
    height: 600px;
}
@media (max-width: 970px) {
    #titulo {
        display: flex;
        justify-self: center;
        height: 600px;
        font-size: 100%;                      
    }}
.nav{
    width: 80px; height: 100%x;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}
.nav:hover {
    background-color: #a87e00;
}


.title1{
    color: #FFC107;
    font-size: 800%;
    font-weight: 800;
    position: relative;
    bottom: 300px;
}   
@media (max-width: 970px) {
    .title1 {
        margin-left: auto; margin-right: auto;   
        font-size: 500%;
        margin-top: 120px; 
    }}
@media (max-width: 670px) {
    .title1 {
    margin-left: auto; margin-right: auto;
    font-size: 300%;
    margin-top: 130px;                             
    }}
@media (max-width: 470px) {
    .title1 {
    margin-left: auto; margin-right: auto;
    font-size: 200%;   
    margin-top: 150px;                          
    }}
@media (max-width: 380px){
    .title1{
            margin-top: 10px;
    }}
@media (max-width: 330px){
    .title1 {
            bottom: 150px;
    }} 


.title2{
    font-size: 800%;
    font-weight: 100;
    position: relative;
    bottom: 300px;
}   
@media (max-width: 970px) {
    .title2 {
    margin-left: auto; margin-right: auto;
    font-size: 500%;
    margin-top: 120px; 
    }}
@media (max-width: 670px) {
    .title2 {
    margin-left: auto; margin-right: auto;
    font-size: 300%;
    margin-top: 130px;                             
    }}
@media (max-width: 470px) {
    .title2 {
    margin-left: auto; margin-right: auto;
    font-size: 200%;   
    margin-top: 150px;                          
    }}
@media (max-width: 380px){
    .title2{
        margin-top: 10px;
    }}
@media (max-width: 330px){
    .title2 {
            bottom: 150px;
    }} 
                            

                            

                            

#lugares {
    margin-left: auto; margin-right: auto;
    position: relative;
    top: 5cm;
    margin-bottom: 10cm;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    place-items: center;
    width: 1400px;
    justify-content: space-around;}
    @media (max-width: 1440px) {
        #lugares {
        width: 1000px;
        }}
    @media (max-width: 1040px) {
        #lugares {
        width: 600px; height: 800px;
        grid-template-columns: 200px 200px
    }}
    @media (max-width: 630px) {
        #lugares {
        width: 400px; height: 600px;
        grid-template-columns: 200px;
    }}
    @media (max-width: 430px) {
        #lugares {
        width: 300px; height: 1100px;
        grid-template-columns: 200px
    }}
    @media (max-width: 330px){
        #lugares {
            width: 200px; height: 1100px;
        }}
  
                           
.busan {
    width: 270px; height: 160px;
    text-transform: uppercase;
    font-family: Josefin Sans;
    font-size: 30px;
    margin-top: 50px;
    background-image:   linear-gradient(rgba(0, 0, 0, 0.670), rgba(0, 0, 0, 0.670)),
                        url(./Banco-de-imagens/card/busan.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.5s ease;
    
    
}
        @keyframes pulse {
            0% {
              transform: scale(1);
            }
            50% {
              transform: scale(1.1);
            }
            100%{
                transform: scale(1);
            }
            }         
          .busan:hover {
              animation: pulse 2s infinite;      
        }
        @media (max-width: 1440px) {
            .busan {
            width: 230px; height: 130px;
            text-transform: uppercase;
            font-family: Josefin Sans;
            font-size: 25px; 
            }}   
        @media (max-width: 630px) {
            .busan {
            width: 300px; height: 150px;
            }}     
        @media (max-width: 330px){
            .busan {
                width: 200px; height: 100px;
            }}  


.dublin {
    width: 270px; height: 160px;
    text-transform: uppercase;
    font-family: Josefin Sans;
    font-size: 30px;
    margin-top: 50px;
    background-image:   linear-gradient(rgba(0, 0, 0, 0.670), rgba(0, 0, 0, 0.670)), 
    url(./Banco-de-imagens/card/dublin.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.5s ease;
    
    
}
.dublin:hover {
    animation: pulse 2s infinite;        
}
@media (max-width: 1440px) {
    .dublin {
    width: 230px; height: 130px;
    text-transform: uppercase;
    font-family: Josefin Sans;
    font-size: 25px;
    margin-top: 50px;         
    }}  
@media (max-width: 630px) {
    .dublin {
    width: 300px; height: 150px;
    }}  
@media (max-width: 330px){
    .dublin {
        width: 200px; height: 100px;
    }} 


.roma {
    width: 270px; height: 160px;
    text-transform: uppercase;
    font-family: Josefin Sans;
    font-size: 30px;
    margin-top: 50px;
    background-image:   linear-gradient(rgba(0, 0, 0, 0.670), rgba(0, 0, 0, 0.670)), 
                        url(./Banco-de-imagens/card/roma.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.5s ease;
    
    
}
.roma:hover {
    animation: pulse 2s infinite;        
}
@media (max-width: 1440px) {
    .roma {
    width: 230px; height: 130px;
    text-transform: uppercase;
    font-family: Josefin Sans;
    font-size: 25px;    
    margin-top: 50px;    
    }}  
@media (max-width: 630px) {
    .roma {
    width: 300px; height: 150px;
    }}  
@media (max-width: 330px){
    .roma {
        width: 200px; height: 100px;
    }} 


.paris {
    width: 270px; height: 160px;
    text-transform: uppercase;
    font-family: Josefin Sans;
    font-size: 30px;
    margin-top: 50px;
    background-image:   linear-gradient(rgba(0, 0, 0, 0.670), rgba(0, 0, 0, 0.670)), 
                        url(./Banco-de-imagens/card/paris.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.5s ease;
    
    
}
.paris:hover {
    animation: pulse 2s infinite;        
}
@media (max-width: 1440px) {
    .paris {
    width: 230px; height: 130px;
    text-transform: uppercase;
    font-family: Josefin Sans;
    font-size: 25px;
    margin-top: 50px;         
    }}  
@media (max-width: 630px) {
    .paris {
    width: 300px; height: 150px;
    }}  
@media (max-width: 330px){
    .paris {
        width: 200px; height: 100px;
    }} 


.toronto {
    width: 270px; height: 160px;
    text-transform: uppercase;
    font-family: Josefin Sans;
    font-size: 30px;
    margin-top: 50px;
    background-image:   linear-gradient(rgba(0, 0, 0, 0.670), rgba(0, 0, 0, 0.670)), 
                        url(./Banco-de-imagens/card/toronto.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.5s ease;
    
    
}
.toronto:hover {
    animation: pulse 2s infinite;        
}
@media (max-width: 1440px) {
    .toronto {
    width: 230px; height: 130px;
    text-transform: uppercase;
    font-family: Josefin Sans;
    font-size: 25px;
    margin-top: 50px;          
    }}  
@media (max-width: 630px) {
    .toronto {
    width: 300px; height: 150px;
    }}  
@media (max-width: 330px){
    .toronto {
        width: 200px; height: 100px;
    }} 


.grecia {
    width: 270px; height: 160px;
    text-transform: uppercase;
    font-family: Josefin Sans;
    font-size: 30px;
    margin-top: 50px;
    background-image:   linear-gradient(rgba(0, 0, 0, 0.670), rgba(0, 0, 0, 0.670)), 
                        url(./Banco-de-imagens/card/grecia.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.5s ease;
}
.grecia:hover {
    animation: pulse 2s infinite;        
}
@media (max-width: 1440px) {
    .grecia {
    width: 230px; height: 130px;
    text-transform: uppercase;
    font-family: Josefin Sans;
    font-size: 25px;
    margin-top: 50px;         
    }}  
@media (max-width: 630px) {
    .grecia {
    width: 300px; height: 150px;
    }}  
@media (max-width: 330px){
    .grecia {
        width: 200px; height: 100px;
    }} 
