body  {
    font-family: nunito;
    color: #ffffff;
    background-color: #191919;
    background-image: url(./Banco-de-imagens/terra.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
      }

#conteudo {
    width: 100%; height: auto;
}


/* styles.css */
.dark-mode {
    background-image: url(./Banco-de-imagens/terra1.png);
    background-color: #ffffff;
    color: #191919;
}

/* Estilo do botão */
#toggleMode {
    background-color: #fa621b;
    background-image: url(./Banco-de-imagens/button/Modo.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    border: solid;
    border-color: #fa621b;
    width: 45px; height: 45px;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.5s;
}

#toggleMode:hover {
    transform: rotate(360deg)
}



#barra{
    margin-left: auto; margin-right: auto;
    width: 80%; height: 350px;
    position: relative; top: 10px;
}
#header {
    text-align: center;
    background-color: #fa621b;
    width: 100%; height: 50px;
    margin-left: auto; margin-right: auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center; justify-content: space-around;
    border-radius: 30px;
    position: sticky; top: 5px;
    font-size: 100%;
}
.logo{
    background-image: url(./Banco-de-imagens/button/logo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px; height: 20px;
    border: none;
    padding: 10px;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
    border-radius: 30px;
    position: relative;
    text-align: center;
    align-items: center;
}

.nav {
    color: #ffffff;
    text-decoration-line: none;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px;
    transition: 0.3s ease-in-out;
    width: 90px; height: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}
.nav:hover {
    background-color: #ed8544;
    border-radius: 30px;
}
html {
    scroll-behavior: smooth;
  }
 
  
    
/*TITULO HOME*/
#titulo {
    margin-left: auto; margin-right: auto;
    width: 80%; height: 140px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.title1{
    font-weight: 900;
    color: #fa621b;
    width: 330px; height: 100%;
    font-size: 800%;
}   
.title2{
    font-weight: 200;
    width: 435px; height: 100%;
    font-size: 800%;
}                
.descri{
    margin-left: auto; margin-right: auto;
    text-transform: uppercase;
    width: 80%; height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 40px;
}
.p {
    margin-left: auto; margin-right: auto;
    font-size: 20px;
    letter-spacing: 25px;
    text-transform: uppercase;
    padding: 0px;
    display: flex;
    justify-content: center;
    
}
.espaco {
    margin-left: auto; margin-right: auto;
    width: 80%; height: 300px;
}
#cont{
    margin-left: auto; margin-right: auto;
    width: 80%; height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}
.conteudo-espaco{
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

/*CIDADES*/
.descri1{
    margin-left: auto; margin-right: auto;
    text-transform: uppercase;
    letter-spacing: 30px;
    width: 80%; height: 100px;
    display: flex;
    align-items: center;
    font-size: 20px;
}
.decor{
    border-left: 1cm solid #fa621b;
    border-radius: 15px 5px 5px 15px;
    padding-left: 5px;
}

/*BOTÃO PARAS EXIBIR CONTEUDO*/
.show {
    opacity: 1 !important;
    visibility: visible !important;
}
.hide {
    opacity: 0 !important;
    visibility: hidden !important;
}
.btn {
    display: block;
    width: 60px; height: 60px;
    font-size: 16px;
    cursor: pointer;
    background-color: #fa621b;
    background-image: url(./Banco-de-imagens/car-terra.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 50%;
    transition: background 0.3s;
    animation: is-rotating 5s infinite;
}
@keyframes is-rotating {
    to {
        transform: rotate(360deg);
    }
}
.btn:hover {
    background-color: #191919;
}
#ocuto{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}


/*BOTÃO PARAS EXIBIR CONTEUDO*/
#lugares {
    margin-left: auto; margin-right: auto;
    position: relative;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    place-items: center;
    width: 80%;
    justify-content: space-around;
}
                
.busan {
    width: 270px; height: 160px;
    text-transform: uppercase;
    font-family: Josefin Sans;
    font-size: 30px;
    margin-top: 50px;
    background-image:   linear-gradient(rgba(0, 0, 0, 0.670), rgba(0, 0, 0, 0.670)),
                        url(./Banco-de-imagens/card/busan.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.5s ease;   
}
        @keyframes pulse {
            0% {
              transform: scale(1);
            }
            50% {
              transform: scale(1.1);
            }
            100%{
                transform: scale(1);
            }
            }         
          .busan:hover {
              animation: pulse 2s infinite;      
        }

.dublin {
    width: 270px; height: 160px;
    text-transform: uppercase;
    font-family: Josefin Sans;
    font-size: 30px;
    margin-top: 50px;
    background-image:   linear-gradient(rgba(0, 0, 0, 0.670), rgba(0, 0, 0, 0.670)), 
    url(./Banco-de-imagens/card/dublin.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.5s ease;
}
.dublin:hover {
    animation: pulse 2s infinite;        
}

.roma {
    width: 270px; height: 160px;
    text-transform: uppercase;
    font-family: Josefin Sans;
    font-size: 30px;
    margin-top: 50px;
    background-image:   linear-gradient(rgba(0, 0, 0, 0.670), rgba(0, 0, 0, 0.670)), 
                        url(./Banco-de-imagens/card/roma.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.5s ease;
}
.roma:hover {
    animation: pulse 2s infinite;        
}

.paris {
    width: 270px; height: 160px;
    text-transform: uppercase;
    font-family: Josefin Sans;
    font-size: 30px;
    margin-top: 50px;
    background-image:   linear-gradient(rgba(0, 0, 0, 0.670), rgba(0, 0, 0, 0.670)), 
                        url(./Banco-de-imagens/card/paris.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.5s ease;
    
    
}
.paris:hover {
    animation: pulse 2s infinite;        
}

.toronto {
    width: 270px; height: 160px;
    text-transform: uppercase;
    font-family: Josefin Sans;
    font-size: 30px;
    margin-top: 50px;
    background-image:   linear-gradient(rgba(0, 0, 0, 0.670), rgba(0, 0, 0, 0.670)), 
                        url(./Banco-de-imagens/card/toronto.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.5s ease;
    
    
}
.toronto:hover {
    animation: pulse 2s infinite;        
}

.grecia {
    width: 270px; height: 160px;
    text-transform: uppercase;
    font-family: Josefin Sans;
    font-size: 30px;
    margin-top: 50px;
    background-image:   linear-gradient(rgba(0, 0, 0, 0.670), rgba(0, 0, 0, 0.670)), 
                        url(./Banco-de-imagens/card/grecia.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.5s ease;
}
.grecia:hover {
    animation: pulse 2s infinite;        
}
.espaco1 {
    width: 80%; height: 200px;
}



/*RESPONSIVIDADE*/
/*CABEÇALHO*/
@media (max-width: 380px){
    #header{
        flex-direction: flex;
        width: 100%; height: 45px;
        text-align: center;
        margin-right: 100%;
    }}


/*BOTÃO MODO NOTURNO*/
@media (max-width: 280px){
    #toggleMode {
            width: 0px; height: 0px;
            padding: 0px;
        }
    }


/*BARRA SUPERIOR*/
@media (max-width: 920px){
    #barra {
        width: 80%;
    }}
@media (max-width: 700px){
    #barra {
            width: 95%; height: 300px;
    }}
@media (max-width: 380px){
    #barra {
            width: 95%; height: 250px;
    }}


/*LOGO*/
@media (max-width: 920px){
    .logo {
        padding: 8px;
    }
}
@media (max-width: 450px){
    .logo {
        width: 0px; height: 0px;
        padding: 0px;
    }
}


/*BOTÕES DA BARRA*/
@media (max-width: 660px){
    .nav {
        padding-left: 8px; padding-right: 8px;
    }}
@media (max-width: 480px){
    .nav {
        padding-left: 5px; padding-right: 5px;
    }}
@media (max-width: 380px){
    .nav{
        font-size: 10px;
    }}

    
/*TEXTO INICIAL*/
@media (max-width: 1125px) {
.title1 {
    font-size: 90px;
    width: 235px;
    box-sizing: border-box;
    }
.title2 {
    font-size: 90px;
    width: 320px;
    box-sizing: border-box;
    }
    
.p {
    font-size: 15px;
    letter-spacing: 15px;
}
#titulo {
    width: 80%; height: 120px;
}
}
@media (max-width: 1000px) {
.title1 {
    width: 210px;
    font-size: 500%;
    }
.title2 {
    width: 280px;
    font-size: 500%;
    }
.descri{
    height: 35px;
}
.espaco{
    height: 320px;
}
.p {
    margin-left: auto; margin-right: auto;
    font-size: 10px;
    letter-spacing: 12px;
}
}
@media (max-width: 670px) {
.title1 {
    font-size: 300%;
    width: 130px;                            
}
.title2 {
    font-size: 300%;
    width: 180px;                             
}
.descri{
    height: 30px;
}
.espaco{
    height: 350px;
}
.p {
    margin-left: auto; margin-right: auto;
    font-size: 12px;
    letter-spacing: 8px;
}
#titulo {
    width: 80%; height: 60px;
}
}
@media (max-width: 470px) {
.title1 {
    margin: 0px; padding: 0px;
    width: 100%; height: 80px;
    display: flex;
    font-size: 90px;       
    align-items: center;   
    justify-content: center;
    }
.title2 {
    margin: 0px; padding: 0px;
    width: 100%; height: 80px;
    font-size: 80px; 
    display: flex;
    font-size: 65px;       
    align-items: center;   
    justify-content: center;          
     }
.p {
    font-size: 10px;
    letter-spacing: 10px;
 }
#titulo{
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0; /* Remove qualquer espaçamento extra */

 }
.p {
    margin-left: auto; margin-right: auto;
    font-size: 8px;
    letter-spacing: 3px;
}
}
@media (max-width: 300px) {
.title1 {
    margin: 0px; padding: 0px;
    width: 100%; height: 80px;
    display: flex;
    font-size: 60px;       
    align-items: center;   
    justify-content: center;
    }
.title2 {
    margin: 0px; padding: 0px;
    width: 100%; height: 80px;
    font-size: 50px; 
    display: flex;     
    align-items: center;   
    justify-content: center;          
     }
.p {
    font-size: 8px;
    letter-spacing: 3px;
 }
#titulo{
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0; /* Remove qualquer espaçamento extra */

 }
}

/*BOTÃO EXIBIR*/
@media (max-width: 670px) {
    .btn {
        width: 50px; height: 50px;            
    }
    .conteudo-espaco {
        font-size: 12px;
    }
}
@media (max-width: 470px) {
    .conteudo-espaco {
        font-size: 11px;
        padding: 0px 12px 0px 10px;              
    }
    #cont {
        width: 270px;
    }
}
@media (max-width: 380px) {
    .conteudo-espaco {
        font-size: 8px;               
    }
    #cont {
        width: 80%; height: 150px;
    }
    .btn {
        width: 40px; height: 40px;
    }}
@media (max-width: 350px) {
    #cont{
        width: 80%; height: 110px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0; /* Remove qualquer espaçamento extra */
     }}

/*LUGARES*/
@media (max-width: 1040px) {
    #lugares {
    grid-template-columns: 200px 200px
}}
@media (max-width: 630px) {
    #lugares {
    grid-template-columns: 200px;
}
    .decor{
        font-size: 20px;
        letter-spacing: 15px;
    }}
@media (max-width: 430px) {
    #lugares {
    grid-template-columns: 200px
}
    .decor{
        font-size: 15px;
        letter-spacing: 10px;
}
@media (max-width: 260px){
    .decor{

    }
}
}



/*BUSAN*/
@media (max-width: 1440px) {
    .busan {
    width: 230px; height: 130px;
    text-transform: uppercase;
    font-family: Josefin Sans;
    font-size: 25px; 
    }}   
@media (max-width: 630px) {
    .busan {
    width: 300px; height: 150px;
    }}     
@media (max-width: 330px){
    .busan {
        width: 200px; height: 100px;
    }}  
@media (max-width: 260px){
    .busan{
        width: 120px; height: 80px;
        font-size: 15px;
    }}
/*DUBLIN*/
@media (max-width: 1440px) {
    .dublin {
    width: 230px; height: 130px;
    text-transform: uppercase;
    font-family: Josefin Sans;
    font-size: 25px;
    margin-top: 50px;         
    }}  
@media (max-width: 630px) {
    .dublin {
    width: 300px; height: 150px;
    }}  
@media (max-width: 330px){
    .dublin {
        width: 200px; height: 100px;
    }}
@media (max-width: 260px){
    .dublin{
        width: 120px; height: 80px;
        font-size: 15px;
    }}

/*ROMA*/
@media (max-width: 1440px) {
    .roma {
    width: 230px; height: 130px;
    text-transform: uppercase;
    font-family: Josefin Sans;
    font-size: 25px;    
    margin-top: 50px;    
    }}  
@media (max-width: 630px) {
    .roma {
    width: 300px; height: 150px;
    }}  
@media (max-width: 330px){
    .roma {
        width: 200px; height: 100px;
    }}
@media (max-width: 260px){
    .roma{
        width: 120px; height: 80px;
        font-size: 15px;
    }}
/*PARIS*/
@media (max-width: 1440px) {
    .paris {
    width: 230px; height: 130px;
    text-transform: uppercase;
    font-family: Josefin Sans;
    font-size: 25px;
    margin-top: 50px;         
    }}  
@media (max-width: 630px) {
    .paris {
    width: 300px; height: 150px;
    }}  
@media (max-width: 330px){
    .paris {
        width: 200px; height: 100px;
    }}
@media (max-width: 260px){
    .paris{
        width: 120px; height: 80px;
        font-size: 15px;
    }}
/*TORONTO*/
@media (max-width: 1440px) {
    .toronto {
    width: 230px; height: 130px;
    text-transform: uppercase;
    font-family: Josefin Sans;
    font-size: 25px;
    margin-top: 50px;          
    }}  
@media (max-width: 630px) {
    .toronto {
    width: 300px; height: 150px;
    }}  
@media (max-width: 330px){
    .toronto {
        width: 200px; height: 100px;
    }}
@media (max-width: 260px){
    .toronto{
        width: 120px; height: 80px;
        font-size: 15px;
    }}
/*GRECIA*/
@media (max-width: 1440px) {
    .grecia {
    width: 230px; height: 130px;
    text-transform: uppercase;
    font-family: Josefin Sans;
    font-size: 25px;
    margin-top: 50px;         
    }}  
@media (max-width: 630px) {
    .grecia {
    width: 300px; height: 150px;
    }}  
@media (max-width: 330px){
    .grecia {
        width: 200px; height: 100px;
    }}
@media (max-width: 260px){
    .grecia{
        width: 120px; height: 80px;
        font-size: 15px;
    }}