body {
  margin-left: 5%; margin-right: 5%;
  background-image: url(../Banco-de-imagens/terra.png);
  background-color: #191919;
  background-size: 100%;
  color: #ffff;
  font-family: Century Gothic;
  transition: 0.5s;
}
  
  #conteudo {
    position: absolute;
    margin-left: auto; margin-right: auto;
    width: 90%;
  }
    

#subtema1{
    position: relative;
    width: 110px; height: 60px;
    top: 60px;
}
   /* styles.css */
   .dark-mode {
    background-color: #ffffff;
    background-image: url(../Banco-de-imagens/terra1.png);
    background-size: 100%;
    color: #191919;
    transition: 0.5s;
  }
  /* Estilo do botão */
  #toggleMode {
    background-color: #fa621b;
    background-image: url(../Banco-de-imagens/button/Modo.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    border: 2px solid;
    border-color: rgb(250, 98, 27);
    width: 40px; height: 40px;
    cursor: pointer;
    border-radius: 30px;
    transition: 1.0s;
    padding: 5px;
  }
  #toggleMode:hover {
    transform: rotate(360deg)
  }
  html {
    scroll-behavior: smooth;
  }
  .ir-inicio{
    background-color: rgb(250, 98, 27);
    background-image: url(../Banco-de-imagens/button/home.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    border: 8px solid;
    border-color: rgb(250, 98, 27);
    width: 60px; height: 60px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.9s;
    position: static;
    transition: transform 1s ease;
    padding: 5px;
  }
  @keyframes pulse {
  0% {
  transform: scale(1);
  }
  50% {
  transform: scale(1.1);
  }
  100% {
  transform: scale(1);
  }
  }
  .ir-inicio:hover {
  animation: pulse 1s infinite;
  }
    
    
    
    
    #titulo {
    position: relative;
    top: 200px;
    display: flex;
    justify-self: center;
    height: 600px;
    animation: pulse 3s infinite;
    }
    @keyframes pulse {
        0% {
        transform: scale(1);
        }
        50% {
        transform: scale(1.1);
        }
        100% {
        transform: scale(1);
        }}
        #titulo:hover {
        animation: none;
        }
    @media (max-width: 970px) {
    #titulo {
    display: flex;
    justify-self: center;
    height: 600px;
    font-size: 100%;  
    }}
    .title1{
    color: #fa621b;
    font-size: 800%;
    font-weight: 800;
    position: sticky;
    top: 20px;
    }
    @media (max-width: 970px) {
    .title1 {
    margin-left: auto; margin-right: auto;   
    font-size: 500%;
    margin-top: 80px; 
    }}
    @media (max-width: 670px) {
    .title1 {
    margin-left: auto; margin-right: auto;
    font-size: 300%;
    margin-top: 80px; 
    }}
    @media (max-width: 470px) {
    .title1 {
    margin-left: auto; margin-right: auto;
    font-size: 200%;   
    margin-top: 80px;  
    }}
    
    
    
    
    .title2{
    font-size: 800%;
    font-weight: 100;
    position: sticky;
    top: 20px;
    }   
    @media (max-width: 970px) {
    .title2 {
    margin-left: auto; margin-right: auto;
    font-size: 500%;
    margin-top: 80px; 
    }}
    @media (max-width: 670px) {
    .title2 {
    margin-left: auto; margin-right: auto;
    font-size: 300%;
    margin-top: 80px; 
    }}
    @media (max-width: 470px) {
    .title2 {
    margin-left: auto; margin-right: auto;
    font-size: 200%;   
    margin-top: 80px;  
    }}
    
    
    
    
    #credito-topo{
        display: flex;
        width: 100%; height: 50px;
        align-items: center;
        text-align: center;
        justify-content: center;
        justify-content: space-around;
      }
      .credito{
        text-transform: uppercase;
        letter-spacing: 4px;
        word-spacing: 3px;
        opacity: 40%;
      }