#carreg {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    z-index: 99999;
}
.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s ease-out, visibility 0.6s ease-out;
}


#carreg{
    display: grid;
    align-items: center;
    text-align: center;
    justify-items: center;
}


#gif-terra{
    position: absolute;
    position: fixed;
    color: #fff;
    width: 120px; height: 120px;
    object-fit: cover;
}
.img-terra {
    position: relative;
    width: 100%; height: 100%;
}
#gif-city{
    margin-left: auto; 
    position: absolute;
    color: #fff;
    background-image: url(../Banco-de-imagens/car-city.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 160px; height: 160px;
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
    animation: is-rotating 3s infinite;
}
@keyframes is-rotating {
    to {
        transform: rotate(360deg);
    }
}